<% include partials/header %> 
<form action="/login" method="POST">    
    <label>
        Name:
        <input type="text" name="username"  placeholder="username">
        <input type="password" name="password" placeholder="password" >
        <input type="submit">
    </label>
    
    
    
</form>
<% include partials/footer %> 